@use './styles/colors';
@use './styles/app';
@use './styles/mixins' as m;

%bg-color-shared {
  background-color: colors.$grey;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

%error {
  border: solid (1px+10px) * 10 - 100;
}

.serious-error {
  @extend %error;
  color: grey;
  &:hover {
    color: white;
  }
}

.App-header {
  background-color: white;
  // @extend %bg-color-shared;
  @include m.bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: colors.$blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
